doctype html
html
  head
    title= title
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
    script(src="https://kit.fontawesome.com/229b27339a.js", crossorigin="anonymous")
    
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css', crossorigin="anonymous")
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js', crossorigin="anonymous")
    
    link(rel='stylesheet', href='css/thales.css')
    script(src='crypto-js/crypto-js.js')

    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=yes")
    script.

        function setCookie(cname, cvalue, exdays) {
          var d = new Date();
          d.setTime(d.getTime() + (exdays*24*60*60*1000));
          var expires = "expires="+ d.toUTCString();
          document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        function getCookie(cname, defaultVal) {
          var name = cname + "=";
          var decodedCookie = decodeURIComponent(document.cookie);
          var ca = decodedCookie.split(';');
          for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {c = c.substring(1);}
            if (c.indexOf(name) == 0)
              return c.substring(name.length, c.length);                
          }
          return defaultVal;
        }

        function updateLoginVisibility(){
            if($('#requireResidentKey').val() == "yes") {
              $('#name-field').hide();
              $("#name").removeAttr("required");
            } else {
              $('#name-field').show();
              $("#name").attr("required", "");
            }
              
            if($('#useDisplayname').val() == "yes")
              $('#displayName-field').show();
            else  
              $('#displayName-field').hide();
        }


        $( document ).ready(function() {
            $('#userVerification').val(getCookie('uv', 'preferred'));
            $('#requireResidentKey').val(getCookie('rk', 'no'));
            $('#useDisplayname').val(getCookie('dn', 'no'));
            updateLoginVisibility();
        });

       window.onload = function() {

            $("#option-link").click(function(e) {
                e.preventDefault();
                $('#optionModal').modal('show');
                return false;
            })

            // Hide or Show login "name" field, depending on "requireResidentKey"
            $('#optionModal').on('hidden.bs.modal', function (e) {        
                setCookie('uv',$('#userVerification').val(),360);
                setCookie('rk',$('#requireResidentKey').val(),360);
                setCookie('dn',$('#useDisplayname').val(),360);
                updateLoginVisibility();
            })

            $('.navbar-nav>li>a').on('click', function(){
              $('.navbar-collapse').collapse('hide');
            });

        }

        // Build POST parameters for 'fetch'
        function getPostParameters(body) {
            return {method: 'POST',credentials: 'include',headers: {'Content-Type': 'application/json'},  body: JSON.stringify(body)};
        }

        function postWebAuthN(path, body){
            const dir = window.location.pathname.substring(0, window.location.pathname.lastIndexOf('/')) + "/";
            return fetch(dir + 'webauthn/' + path, getPostParameters(body)).then((response) => {
                return response.json().then((json) => {
                    if(json.invalidField !== undefined) {
                        $('#'+json.invalidField).addClass("is-invalid");
                        $('#'+json.invalidField).get(0).setCustomValidity(json.invalidFieldMessage);
                        $('#'+json.invalidField).get(0).reportValidity();
                        throw new Error();
                    }
                    if(json.signatureDetails !== undefined) console.log(json.signatureDetails);
                    
                    if(json.message !== undefined)
                        throw new Error(json.message);
                    return json
                  });
              })
        }

        function post(path, body){
            const dir = window.location.pathname.substring(0, window.location.pathname.lastIndexOf('/')) + "/";
            return fetch(dir + path, getPostParameters(body)).then((response) => {
                return response.json().then((json) => {
                    if(json.message !== undefined)
                        throw new Error(json.message);
                    return json
                  });
              })
        }
  body

    // Navigation Bar with menu
    nav(class="navbar navbar-light navbar-expand-lg sticky-top")
      div(class="container-fluid")
        a(class="navbar-brand" style="margin-left: 20px" href="/") 
          img(src="/img/thales-logo-building-a-future-we-can-all-trust.svg", width="150px", alt="Thales logo | Building a Future We Can All Trust")

        button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarFido" aria-controls="navbarFido" aria-expanded="false" aria-label="Toggle navigation")
          span(class="navbar-toggler-icon")

        div(class="collapse navbar-collapse" id="navbarFido")
          ul(class="navbar-nav me-auto mb-2 mb-lg-0")
            li(class="nav-item d-none")
              a(class="nav-link", href="/") 
                i(class="fa-solid fa-box") 
                | Play demo
            li(class="nav-item")
              a(class="nav-link", href="#", id="option-link")
                i(class="fa-solid fa-gear") 
                | WebAuthn options 
            li(class="nav-item")
              a(class="nav-link" href="ms-settings:signinoptions")
                i(class="fa-brands fa-windows") 
                | Security key management 
            li(class="nav-item")
              a(class="nav-link" href="https://cpl.thalesgroup.com/access-management/contact-us" target="_blank")
                i(class="fa-regular fa-envelope") 
                | Contact us

    // Image banner
    div(class="row" style="margin-bottom: 50px;")
      div(class="banner banner--image" style="background-image:url(img/large-banner-default-1400x740.jpg)")
        div(class="containerTitle")
          div 
            p(class="title") Thales FIDO Demo site
            p(class="subtitle") Test drive your FIDO devices on our demo site
            p(class="subtitle") Register your fido device and log on to a web service in a few seconds 

    block content

    // Modal
    div(class="modal fade", id="optionModal", tabindex="-1", aria-labelledby="optionModalLabel", aria-hidden="true")
      div(class="modal-dialog")
        div(class="modal-content")
          div(class="modal-header")
            h5(class="modal-title",id="optionModalLabel") Webauthn options
            button(type="button", class="btn-close", data-bs-dismiss="modal", aria-label="Close")   

          div(class="modal-body")
              div(class="container")
                div(class="row")
                  div(class="col") User verification
                  div(class="col")
                    select(name="userVerification", id="userVerification")
                      option(value="preferred", selected) preferred
                      option(value="required") required
                      option(value="discouraged") discouraged
                div(class="row")
                  div(class="col") Use resident key
                  div(class="col")
                    select(name="requireResidentKey", id="requireResidentKey")
                      option(value="yes", selected) yes
                      option(value="no") no
                div(class="row")
                  div(class="col") Use Display name
                  div(class="col")
                    select(name="useDisplayname", id="useDisplayname")
                      option(value="yes") yes
                      option(value="no", selected) no
          div(class="modal-footer")
            button(type="button", class="btn btn-primary", data-bs-dismiss="modal") Close
    script(src="js/base64url-arraybuffer.js")
    script(src="js/helpers.js")
 
