extends layout
block content   
  div(class="container text-center")
    form(id="login")
      h2 Welcome
    
      div(class="form-group row" id="name-field")
        label(for="name", class="col-md-4 col-form-label text-start text-md-end") Name
        div(class="col-md-6")
          input(type="text",class="form-control",id="name", required)
        div(class="col-md-2")
      div(class="form-group row" id="password-field" style="display: none")
        label(for="password", class="col-md-4 col-form-label text-start text-md-end") Password
        div(class="col-md-6")
          input(type="password",class="form-control",id="password")
        div(class="col-md-2")
      button(type="submit", class="btn btn-primary btn-lg mt-4", id="submit") Login
      div(style="width: 100%; text-align: center")
        span(id="error" class="text-danger") &nbsp;
      a(href="register") Not registered yet? Register Now
      br
      br
      div(style="width: 100%; text-align: center")
        img(src="img/All-top-view-circle - Small.jpg", width="90%")

  script.
 
    $( document ).ready(function() {

      $('#name').on('input',function(e){
        let params = "?user=" + $('#name').val();
        if( urlParams.get('log') != null )
          params += "&log"
        history.pushState(null, '', window.location.pathname + params);
      });

      // Use URL parameter "user" if exists
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      $('#name').val(urlParams.get('user'));

      $('#submit').on("click",function(){
        // Reset form states
        event.preventDefault();
        $('#error').html("&nbsp;");
        $('#name').removeClass("is-invalid");
        $('#name')[0].setCustomValidity("");

        // Check basic input
        if( $('#login')[0].checkValidity() == false )
          return $("#login")[0].reportValidity();
    
        let name                    = $('#name').val();
        let userVerification        = $('#userVerification').val();
        let requireResidentKey      = $('#requireResidentKey').val();
        let allowCredentials        = $('#allowCredentials').val();
        var password                = "";
        
        if( $('#password').val().length > 0) {
          password = CryptoJS.SHA256($('#password').val()).toString(CryptoJS.enc.Hex);
        }

        if( navigator.credentials == null)
          return $("#error").html(`Your browser is not supported`);

      let user = {};
        postWebAuthN('getPublicKeyCredentialRequestOptions', {name, userVerification, requireResidentKey, password, allowCredentials})
          .then((response) => {
            // Save user
            user = response.user;
            if(response.loggedIn)
              document.location.href="main";

            // Decode base64 id(s)
            //let publicKey = preformatGetAssertReq(response.assertion);
            let publicKey = response.assertion;

            publicKey.challenge = base64url.decode(publicKey.challenge);

            if (Array.isArray(publicKey.allowCredentials)) {
              publicKey.allowCredentials.forEach((credential) => {
                credential.id = base64url.decode(credential.id);
              });
            }

            console.log(publicKey);
            return navigator.credentials.get({ publicKey })
          })
          .then((response) => {
            let getAssertionResponse = publicKeyCredentialToJSON(response);
            return postWebAuthN('verifyAuthenticatorAssertionResponse', getAssertionResponse);
          })
          .then((response) => {
            if( response.message !== undefined) 
              return $("#error").html(response.message)
            // Success: redirect to main page
            if( urlParams.get('log') != null )
              document.location.href="main?log";
            else
              document.location.href="main";
          })
          .catch((error) => {
            console.log(error);
            if( user != null && user.isAdmin )
              $('#password-field').show();
            else 
              $('#password-field').hide();
          })
      })
    });