extends layout
block content
  div(class="container text-center")
    form(id="register")
      h2 Register
      div(style="width: 100%; text-align: center")
        span(id="error") &nbsp;
      div(class="form-group row")
        label(for="name", class="col-md-4 col-form-label text-start text-md-end") Name
        div(class="col-md-6")
          input(type="text",class="form-control",id="name", required)
        div(class="col-md-2")
      div(class="form-group row" id="displayName-field")
        label(for="displayName", class="col-sm-4 col-form-label text-start text-md-end") Display Name
        div(class="col-md-6")
          input(type="text",class="form-control",id="displayName")
        div(class="col-md-2")
      button(type="submit", class="btn btn-primary mt-4 btn-lg", id="submit") Register
      br
      br
      a(href="/") Already registered? Login page
      br
      if((log != undefined) && (log.signatureDetails != undefined))
        div(class="row")
          | Signature Details
        div(class="row log")
          pre(class="d-flex text-break", style="word-break: break-word", id="relyingPartyResponse-login-log") #{log.signatureDetails}

  div(class="container text-center")
    div(class="row")
      div(class="col-md col-12 text-center" style="margin-top: 30px;")
        h5 Is your mobile phone NFC enabled ?
        | Test the IDPrime FIDO Smart Card on your mobile phone
        br
        img(src="/img/product/IDPrime%20FIDO.png")

      div(class="col-md-1 col-12" style="background: none")
      div(class="col-md col-12 text-center" style="margin-top: 30px;")
        | Test your SafeNet FIDO USB Token on any device equipped with an USB connector
        br 
        div(class="row mh-100")
          div(class="col mh-100")
            img(src="/img/product/Microsoft.png" style="height: 200px")
          div(class="col mh-100")
            img(src="/img/product/eTokenFIDO.png" style="height: 120px")
            img(src="/img/USB-C.jpg" style="height: 120px")



  script.
    $( document ).ready(function() {
                   
      $('#submit').on("click",function(){

        // Reset form states
        event.preventDefault();
        $('#error').html("&nbsp;");        
        $('#name').removeClass("is-invalid");
        $('#name')[0].setCustomValidity("");

        // Check basic input 
        if( $('#register')[0].checkValidity() == false )
          return $("#register")[0].reportValidity();
        
        if( navigator.credentials == null)
          return $("#error").html(`Your browser in not supported`);

        makeCredential();
      })
    });

